
{% extends "management/base.html" %}

{% block script %}
  
{% endblock script %}

{% block content %}
  <h1>請求一覧</h1>
  <table>
    <thead>
      <th>ID</th>
      <th>受講者</th>
      <th>ジャンル</th>
      <th>合計レッスン数</th>
      <th>請求額</th>
    </thead>
    {% for invoice in invoices %}
      <tbody>
        <tr>
          <td>{{ invoice.user.id }}</td>
          <td>{{ invoice.user.name }}</td>
          <td>{{ invoice.curriculum_list|cut:"Counter" }}</td>
          <td>{{ invoice.records.count }}</td>
          <td class="text-right">¥ {{ invoice.charge }}</td>
        </tr>
      </tbody>
    {% endfor %}
  </table>
  <a href="{% url 'management:home' %}">ホームへ</a>
{% endblock content %}
